In [1]:
import requests
import numpy as np
import pandas as pd
import json
import os

In [4]:
x = requests.get('https://raw.githubusercontent.com/statsbomb/open-data/master/data/matches/72/30.json')

test_json = x.json()

test_df = pd.DataFrame(test_json)

In [5]:
test_df

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,metadata,match_week,competition_stage,stadium,referee
0,68311,2019-06-18,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1212, 'home_team_name': 'Jama...","{'away_team_id': 1205, 'away_team_name': 'Aust...",1,4,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",3,"{'id': 1, 'name': 'Regular Season'}","{'id': 455, 'name': 'Stade des Alpes', 'countr...","{'id': 721, 'name': 'Katalin Kulcsar', 'countr..."
1,68357,2019-06-22,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 852, 'home_team_name': 'Norwa...","{'away_team_id': 1205, 'away_team_name': 'Aust...",1,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",4,"{'id': 33, 'name': 'Round of 16'}","{'id': 162, 'name': 'Allianz Riviera ', 'count...","{'id': 990, 'name': 'Riem Hussein', 'country':..."
2,22933,2019-06-09,13:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1205, 'home_team_name': 'Aust...","{'away_team_id': 855, 'away_team_name': 'Italy...",1,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 231, 'name': 'Stade du Hainaut', 'count...","{'id': 1626, 'name': 'Melissa Borjas', 'countr..."
3,22940,2019-06-10,18:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1204, 'home_team_name': 'Arge...","{'away_team_id': 1210, 'away_team_name': 'Japa...",0,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 154, 'name': 'Parc des Princes ', 'coun...","{'id': 128, 'name': 'St√©phanie Frappart', 'cou..."
4,22943,2019-06-11,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1214, 'home_team_name': 'Unit...","{'away_team_id': 1107, 'away_team_name': 'Thai...",13,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 232, 'name': 'Stade Auguste-Delaune II ...",NaN
5,22944,2019-06-11,18:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1209, 'home_team_name': 'Chil...","{'away_team_id': 858, 'away_team_name': 'Swede...",0,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 166, 'name': 'Roazhon Park', 'country':...","{'id': 1638, 'name': 'Lucila Venegas Montes', ..."
6,22945,2019-06-12,15:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1213, 'home_team_name': 'Nige...","{'away_team_id': 1211, 'away_team_name': 'Kore...",2,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 455, 'name': 'Stade des Alpes', 'countr...","{'id': 2077, 'name': 'Anastasia Pustovoytova',..."
7,22949,2019-06-12,18:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 857, 'home_team_name': 'Germa...","{'away_team_id': 863, 'away_team_name': 'Spain...",1,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 231, 'name': 'Stade du Hainaut', 'count...","{'id': 374, 'name': 'Kateryna Monzul', 'countr..."
8,22956,2019-06-13,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1216, 'home_team_name': 'Sout...","{'away_team_id': 1207, 'away_team_name': 'Chin...",0,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 154, 'name': 'Parc des Princes ', 'coun...","{'id': 721, 'name': 'Katalin Kulcsar', 'countr..."
9,22963,2019-06-14,18:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1212, 'home_team_name': 'Jama...","{'away_team_id': 855, 'away_team_name': 'Italy...",0,5,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 232, 'name': 'Stade Auguste-Delaune II ...",NaN
10,22961,2019-06-14,15:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1210, 'home_team_name': 'Japa...","{'away_team_id': 866, 'away_team_name': 'Scotl...",2,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 166, 'name': 'Roazhon Park', 'country':...",NaN
11,22964,2019-06-15,15:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 851, 'home_team_name': 'Nethe...","{'away_team_id': 1208, 'away_team_name': 'Came...",3,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 231, 'name': 'Stade du Hainaut', 'count...",NaN
12,22966,2019-06-15,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1206, 'home_team_name': 'Cana...","{'away_team_id': 1215, 'away_team_name': 'New ...",2,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 455, 'name': 'Stade des Alpes', 'countr...",NaN
13,68344,2019-06-20,18:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 851, 'home_team_name': 'Nethe...","{'away_team_id': 1206, 'away_team_name': 'Cana...",2,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",3,"{'id': 1, 'name': 'Regular Season'}","{'id': 232, 'name': 'Stade Auguste-Delaune II ...","{'id': 128, 'name': 'St√©phanie Frappart', 'cou..."
14,68345,2019-06-20,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 858, 'home_team_name': 'Swede...","{'away_team_id': 1214, 'away_team_name': 'Unit...",0,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",3,"{'id': 1, 'name': 'Regular Season'}","{'id': 230, 'name': 'Stade Oc√©ane', 'country':...","{'id': 2077, 'name': 'Anastasia Pustovoytova',..."
15,69163,2019-06-24,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 858, 'home_team_name': 'Swede...","{'away_team_id': 1206, 'away_team_name': 'Cana...",1,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",4,"{'id': 33, 'name': 'Round of 16'}","{'id': 154, 'name': 'Parc des Princes ', 'coun...","{'id': 1640, 'name': 'Kate Jacewicz', 'country..."
16,68346,2019-06-20,18:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1208, 'home_team_name': 'Came...","{'away_team_id': 1215, 'away_team_name': 'New ...",2,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",3,"{'id': 1, 'name': 'Regular Season'}","{'id': 165, 'name': 'Stade de la Mosson ', 'co...","{'id': 374, 'name': 'Kateryna Monzul', 'countr..."
17,68355,2019-06-22,17:30:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 857, 'home_team_name': 'Germa...","{'away_team_id': 1213, 'away_team_name': 'Nige...",3,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",4,"{'id': 33, 'name': 'Round of 16'}","{'id': 455, 'name': 'Stade des Alpes', 'countr...",NaN
18,69301,2019-07-06,17:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 865, 'home_team_name': 'Engla...","{'away_team_id': 858, 'away_team_name': 'Swede...",1,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",7,"{'id': 25, 'name': '3rd Place Final'}","{'id': 162, 'name': 'Allianz Riviera ', 'count...","{'id': 2077, 'name': 'Anastasia Pustovoytova',..."
19,69137,2019-06-23,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 861, 'home_team_name': 'Franc...","{'away_team_id': 1203, 'away_team_name': 'Braz...",2,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",4,"{'id': 33, 'name': 'Round of 16'}","{'id': 230, 'name': 'Stade Oc√©ane', 'country':...","{'id': 1627, 'name': 'Marie-Soleil Beaudoin', ..."
20,69208,2019-06-29,18:30:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 857, 'home_team_name': 'Germa...","{'away_team_id': 858, 'away_team_name': 'Swede...",1,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",5,"{'id': 1, 'name': 'Regular Season'}","{'id': 166, 'name': 'Roazhon Park', 'country':...","{'id': 128, 'name': 'St√©phanie Frappart', 'cou..."
21,22936,2019-06-09,18:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 865, 'home_team_name': 'Engla...","{'away_team_id': 866, 'away_team_name': 'Scotl...",2,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 162, 'name': 'Allianz Riviera ', 'count...","{'id': 744, 'name': 'Jana Adamkova', 'country'..."
22,22973,2019-06-16,15:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 858, 'home_team_name': 'Swede...","{'away_team_id': 1107, 'away_team_name': 'Thai...",5,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 162, 'name': 'Allianz Riviera ', 'count...",NaN
23,68337,2019-06-19,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1210, 'home_team_name': 'Japa...","{'away_team_id': 865, 'away_team_name': 'Engla...",0,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",3,"{'id': 1, 'name': 'Regular Season'}","{'id': 162, 'name': 'Allianz Riviera ', 'count...","{'id': 1632, 'name': 'Claudia Umpi√©rrez', 'cou..."
24,22981,2019-06-17,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1211, 'home_team_name': 'Kore...","{'away_team_id': 852, 'away_team_name': 'Norwa...",1,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",3,"{'id': 1, 'name': 'Regular Season'}","{'id': 232, 'name': 'Stade Auguste-Delaune II ...","{'id': 1627, 'name': 'Marie-Soleil Beaudoin', ..."
25,22974,2019-06-16,18:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1214, 'home_team_name': 'Unit...","{'away_team_id': 1209, 'away_team_name': 'Chil...",3,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 154, 'name': 'Parc des Princes ', 'coun...","{'id': 990, 'name': 'Riem Hussein', 'country':..."
26,22924,2019-06-08,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 852, 'home_team_name': 'Norwa...","{'away_team_id': 1213, 'away_team_name': 'Nige...",3,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 232, 'name': 'Stade Auguste-Delaune II ...","{'id': 1640, 'name': 'Kate Jacewicz', 'country..."
27,69321,2019-07-07,17:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1214, 'home_team_name': 'Unit...","{'away_team_id': 851, 'away_team_name': 'Nethe...",2,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",7,"{'id': 26, 'name': 'Final'}","{'id': 193, 'name': 'Groupama Stadium', 'count...","{'id': 128, 'name': 'St√©phanie Frappart', 'cou..."
28,22983,2019-06-17,18:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1207, 'home_team_name': 'Chin...","{'away_team_id': 863, 'away_team_name': 'Spain...",0,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",3,"{'id': 1, 'name': 'Regular Season'}","{'id': 230, 'name': 'Stade Oc√©ane', 'country':...",NaN
29,68312,2019-06-18,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 855, 'home_team_name': 'Italy...","{'away_team_id': 1203, 'away_team_name': 'Braz...",0,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",3,"{'id': 1, 'name': 'Regular Season'}","{'id': 231, 'name': 'Stade du Hainaut', 'count...","{'id': 1638, 'name': 'Lucila Venegas Montes', ..."
30,22921,2019-06-07,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 861, 'home_team_name': 'Franc...","{'away_team_id': 1211, 'away_team_name': 'Kore...",4,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 154, 'name': 'Parc des Princes ', 'coun...","{'id': 1632, 'name': 'Claudia Umpi√©rrez', 'cou..."
31,22926,2019-06-08,15:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 857, 'home_team_name': 'Germa...","{'away_team_id': 1207, 'away_team_name': 'Chin...",1,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 166, 'name': 'Roazhon Park', 'country':...","{'id': 1627, 'name': 'Marie-Soleil Beaudoin', ..."
32,22930,2019-06-08,18:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 863, 'home_team_name': 'Spain...","{'away_team_id': 1216, 'away_team_name': 'Sout...",3,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 230, 'name': 'Stade Oc√©ane', 'country':...",NaN
33,22934,2019-06-09,15:30:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1203, 'home_team_name': 'Braz...","{'away_team_id': 1212, 'away_team_name': 'Jama...",3,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 455, 'name': 'Stade des Alpes', 'countr...","{'id': 990, 'name': 'Riem Hussein', 'country':..."
34,22939,2019-06-10,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1206, 'home_team_name': 'Cana...","{'away_team_id': 1208, 'away_team_name': 'Came...",1,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 165, 'name': 'Stade de la Mosson ', 'co...","{'id': 1951, 'name': 'Ok Ri-Hyang', 'country':..."
35,69202,2019-06-28,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 861, 'home_team_name': 'Franc...","{'away_team_id': 1214, 'away_team_name': 'Unit...",1,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",5,"{'id': 1, 'name': 'Regular Season'}","{'id': 154, 'name': 'Parc des Princes ', 'coun...","{'id': 374, 'name': 'Kateryna Monzul', 'countr..."
36,22942,2019-06-11,15:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1215, 'home_team_name': 'New ...","{'away_team_id': 851, 'away_team_name': 'Nethe...",0,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 230, 'name': 'Stade Oc√©ane', 'country':...",NaN
37,22948,2019-06-12,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 861, 'home_team_name': 'Franc...","{'away_team_id': 852, 'away_team_name': 'Norwa...",2,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 162, 'name': 'Allianz Riviera ', 'count...",NaN
38,22955,2019-06-13,18:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1205, 'home_team_name': 'Aust...","{'away_team_id': 1203, 'away_team_name': 'Braz...",3,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 165, 'name': 'Stade de la Mosson ', 'co...","{'id': 723, 'name': 'Esther Staubli', 'country..."
39,22962,2019-06-14,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 865, 'home_team_name': 'Engla...","{'away_team_id': 1204, 'away_team_name': 'Arge...",1,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 230, 'name': 'Stade Oc√©ane', 'country':...",NaN
40,22980,2019-06-17,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 1213, 'home_team_name': 'Nige...","{'away_team_id': 861, 'away_team_name': 'Franc...",0,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",3,"{'id': 1, 'name': 'Regular Season'}","{'id': 166, 'name': 'Roazhon Park', 'country':...","{'id': 1626, 'name': 'Melissa Borjas', 'countr..."

In [6]:
match_season = test_df[['match_id', 'season']]
match_season

    match_id                                    season
0      68311  {'season_id': 30, 'season_name': '2019'}
1      68357  {'season_id': 30, 'season_name': '2019'}
2      22933  {'season_id': 30, 'season_name': '2019'}
3      22940  {'season_id': 30, 'season_name': '2019'}
4      22943  {'season_id': 30, 'season_name': '2019'}
5      22944  {'season_id': 30, 'season_name': '2019'}
6      22945  {'season_id': 30, 'season_name': '2019'}
7      22949  {'season_id': 30, 'season_name': '2019'}
8      22956  {'season_id': 30, 'season_name': '2019'}
9      22963  {'season_id': 30, 'season_name': '2019'}
10     22961  {'season_id': 30, 'season_name': '2019'}
11     22964  {'season_id': 30, 'season_name': '2019'}
12     22966  {'season_id': 30, 'season_name': '2019'}
13     68344  {'season_id': 30, 'season_name': '2019'}
14     68345  {'season_id': 30, 'season_name': '2019'}
15     69163  {'season_id': 30, 'season_name': '2019'}
16     68346  {'season_id': 30, 'season_name': '2019'}
17     68355  {'season_id': 30, 'season_name': '2019'}
18     69301  {'season_id': 30, 'season_name': '2019'}
19     69137  {'season_id': 30, 'season_name': '2019'}
20     69208  {'season_id': 30, 'season_name': '2019'}
21     22936  {'season_id': 30, 'season_name': '2019'}
22     22973  {'season_id': 30, 'season_name': '2019'}
23     68337  {'season_id': 30, 'season_name': '2019'}
24     22981  {'season_id': 30, 'season_name': '2019'}
25     22974  {'season_id': 30, 'season_name': '2019'}
26     22924  {'season_id': 30, 'season_name': '2019'}
27     69321  {'season_id': 30, 'season_name': '2019'}
28     22983  {'season_id': 30, 'season_name': '2019'}
29     68312  {'season_id': 30, 'season_name': '2019'}
30     22921  {'season_id': 30, 'season_name': '2019'}
31     22926  {'season_id': 30, 'season_name': '2019'}
32     22930  {'season_id': 30, 'season_name': '2019'}
33     22934  {'season_id': 30, 'season_name': '2019'}
34     22939  {'season_id': 30, 'season_name': '2019'}
35     69202  {'season_id': 30, 'season_name': '2019'}
36     22942  {'season_id': 30, 'season_name': '2019'}
37     22948  {'season_id': 30, 'season_name': '2019'}
38     22955  {'season_id': 30, 'season_name': '2019'}
39     22962  {'season_id': 30, 'season_name': '2019'}
40     22980  {'season_id': 30, 'season_name': '2019'}
41     22984  {'season_id': 30, 'season_name': '2019'}
42     68338  {'season_id': 30, 'season_name': '2019'}
43     68343  {'season_id': 30, 'season_name': '2019'}
44     68362  {'season_id': 30, 'season_name': '2019'}
45     69191  {'season_id': 30, 'season_name': '2019'}
46     69188  {'season_id': 30, 'season_name': '2019'}
47     69199  {'season_id': 30, 'season_name': '2019'}
48     69258  {'season_id': 30, 'season_name': '2019'}
49     69284  {'season_id': 30, 'season_name': '2019'}
50     69205  {'season_id': 30, 'season_name': '2019'}
51     69161  {'season_id': 30, 'season_name': '2019'}

In [7]:
match_season['season'] = match_season['season'].transform(lambda x: x['season_name'])

/tmp/ipykernel_2603/1105451159.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_season['season'] = match_season['season'].transform(lambda x: x['season_name'])

In [8]:
match_season

    match_id season
0      68311   2019
1      68357   2019
2      22933   2019
3      22940   2019
4      22943   2019
5      22944   2019
6      22945   2019
7      22949   2019
8      22956   2019
9      22963   2019
10     22961   2019
11     22964   2019
12     22966   2019
13     68344   2019
14     68345   2019
15     69163   2019
16     68346   2019
17     68355   2019
18     69301   2019
19     69137   2019
20     69208   2019
21     22936   2019
22     22973   2019
23     68337   2019
24     22981   2019
25     22974   2019
26     22924   2019
27     69321   2019
28     22983   2019
29     68312   2019
30     22921   2019
31     22926   2019
32     22930   2019
33     22934   2019
34     22939   2019
35     69202   2019
36     22942   2019
37     22948   2019
38     22955   2019
39     22962   2019
40     22980   2019
41     22984   2019
42     68338   2019
43     68343   2019
44     68362   2019
45     69191   2019
46     69188   2019
47     69199   2019
48     69258   2019
49     69284   2019
50     69205   2019
51     69161   2019

In [10]:
x = requests.get('https://raw.githubusercontent.com/statsbomb/open-data/master/data/matches/55/43.json')
test_json = x.json()
test_df = pd.DataFrame(test_json)
match_season = test_df[['match_id', 'season']]
match_season['season'] = match_season['season'].transform(lambda x: x['season_name'])

ms_dfs.append(match_season)

/tmp/ipykernel_2603/2849896977.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_season['season'] = match_season['season'].transform(lambda x: x['season_name'])

In [32]:
# redid 55 and 72 for consistency

In [2]:
ms_dfs = []

In [3]:
sets = {2: [44], 11: [1, 2, 21, 22, 23, 24, 25, 26, 27, 37, 38, 39, 40, 41, 42, 90], 16: [1, 2, 4, 21, 22, 23, 24, 25, 26, 27, 37, 39, 41, 42, 44, 76], 37: [4, 42, 90], 43: [3], 49: [3], 55: [43], 72: [30]}

In [4]:
errors = []

In [5]:
for key, values in sets.items():
    for value in values:
        fp = 'statsbomb-matches/' + str(key) + '/' + str(value) + '.json'
        with open(fp, 'r') as f:
            test = json.load(f)
        df = pd.DataFrame(test)
        if 'match_id'in df.columns and 'season' in df.columns:
            match_season = df.loc[:, ['match_id', 'season']]
            match_season['season'] = match_season['season'].transform(lambda x: x['season_name'])
            ms_dfs.append(match_season)
        else:
            errors.append((key, value))

In [6]:
errors

[(16, 42), (16, 76)]

In [7]:
large_df = pd.concat(ms_dfs)

In [8]:
large_df

    match_id     season
0    3749052  2003/2004
1    3749522  2003/2004
2    3749246  2003/2004
3    3749257  2003/2004
4    3749642  2003/2004
..       ...        ...
47     69199       2019
48     69258       2019
49     69284       2019
50     69205       2019
51     69161       2019

[1062 rows x 2 columns]

In [55]:
large_df.to_csv("matches_seasons.csv", index = False)

In [ ]:
### TEAMS LEAGUES

In [9]:
teams_leagues = []

In [10]:
sets = {2: [44], 11: [1, 2, 21, 22, 23, 24, 25, 26, 27, 37, 38, 39, 40, 41, 42, 90], 16: [1, 2, 4, 21, 22, 23, 24, 25, 26, 27, 37, 39, 41, 42, 44, 76], 37: [4, 42, 90], 43: [3], 49: [3], 55: [43], 72: [30]}

In [11]:
with open('statsbomb-matches/' + str(2) + '/' + str(44) + '.json', 'r') as f:
    test = json.load(f)
test_df = pd.DataFrame(test)

In [12]:
comp_names = test_df.get("competition").transform(lambda x: x['competition_name'])

In [13]:
team_1_names = test_df.get("home_team").transform(lambda x: x['home_team_name'])

In [14]:
team_2_names = test_df.get("away_team").transform(lambda x: x['away_team_name'])

In [15]:
team_2_names

0                     Arsenal
1     Wolverhampton Wanderers
2           Manchester United
3              Leicester City
4           Charlton Athletic
5                     Arsenal
6                     Arsenal
7                     Arsenal
8                     Chelsea
9                     Arsenal
10                    Arsenal
11           Newcastle United
12            Manchester City
13            Birmingham City
14                    Arsenal
15                 Portsmouth
16                    Arsenal
17                    Arsenal
18                    Arsenal
19                    Arsenal
20                    Everton
21                    Arsenal
22                     Fulham
23          Tottenham Hotspur
24                  Liverpool
25           Blackburn Rovers
26               Leeds United
27                    Arsenal
28                    Arsenal
29              Middlesbrough
30           Bolton Wanderers
31                    Arsenal
32                    Arsenal
Name: away_team, dtype: object

In [16]:
test_df

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,metadata,match_week,competition_stage,stadium
0,3749052,2004-02-07,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 46, 'home_team_name': 'Wolver...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",1,3,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 217, 'name': 'Molineux Stadium', 'count..."
1,3749522,2003-12-26,13:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 46, 'away_team_name': 'Wolver...",3,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",18,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
2,3749246,2004-03-28,17:05:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 39, 'away_team_name': 'Manche...",1,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",30,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
3,3749257,2004-05-15,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 22, 'away_team_name': 'Leices...",2,1,available,scheduled,2020-08-30T08:12:14.579037,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",38,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
4,3749642,2004-02-28,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 75, 'away_team_name': 'Charlt...",2,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",27,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
5,3749358,2003-08-24,17:05:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 47, 'home_team_name': 'Middle...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",0,4,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 214, 'name': 'Riverside Stadium ', 'cou..."
6,3749346,2003-11-01,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 101, 'home_team_name': 'Leeds...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",1,4,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 213, 'name': 'Elland Road ', 'country':..."
7,3749253,2003-10-04,13:30:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 24, 'home_team_name': 'Liverp...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",1,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 6, 'name': 'Anfield ', 'country': {'id'..."
8,3749079,2003-10-18,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 33, 'away_team_name': 'Chelse...",2,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",9,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
9,3749465,2004-03-13,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 98, 'home_team_name': 'Blackb...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",0,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 22, 'name': 'Ewood Park ', 'country': {..."
10,3749133,2004-01-18,15:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 59, 'home_team_name': 'Aston ...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",0,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 211, 'name': 'Villa Park', 'country': {..."
11,3749528,2003-09-26,21:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 37, 'away_team_name': 'Newcas...",3,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",7,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
12,3749233,2004-02-01,17:05:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 36, 'away_team_name': 'Manche...",2,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",23,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
13,3749462,2004-05-01,13:30:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 54, 'away_team_name': 'Birmin...",0,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",35,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
14,3749552,2003-09-21,17:05:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 39, 'home_team_name': 'Manche...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",0,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 2, 'name': 'Old Trafford', 'country': {..."
15,3749296,2003-09-13,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 105, 'away_team_name': 'Ports...",1,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",5,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
16,3749454,2003-08-31,17:05:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 36, 'home_team_name': 'Manche...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",1,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 4715, 'name': 'Etihad Stadium', 'countr..."
17,3749276,2004-02-21,13:30:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 33, 'home_team_name': 'Chelse...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",1,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 10, 'name': 'Stamford Bridge', 'country..."
18,3749068,2004-04-25,17:05:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 38, 'home_team_name': 'Totten...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",2,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 99148, 'name': 'White Hart Lane', 'coun..."
19,3749310,2003-12-29,21:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 25, 'home_team_name': 'Southa...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",0,1,available,scheduled,2020-08-31T20:40:28.969635,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 4591, 'name': 'St. Mary''s Stadium', 'c..."
20,3749493,2003-08-16,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 29, 'away_team_name': 'Everto...",2,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
21,3749434,2003-11-22,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 54, 'home_team_name': 'Birmin...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",0,3,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 4500, 'name': 'St. Andrews Stadium', 'c..."
22,3749192,2003-11-30,15:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 55, 'away_team_name': 'Fulham...",0,0,available,scheduled,2020-08-30T07:13:01.092744,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",14,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
23,3749196,2003-11-08,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 38, 'away_team_name': 'Totten...",2,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",12,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
24,3749448,2004-04-09,13:30:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 24, 'away_team_name': 'Liverp...",4,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",31,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
25,3749360,2003-12-14,15:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 98, 'away_team_name': 'Blackb...",1,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",16,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
26,3749453,2004-04-16,21:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 101, 'away_team_name': 'Leeds...",5,0,available,scheduled,2021-11-14T22:29:00.646120,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",33,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
27,3749278,2003-12-20,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 328, 'home_team_name': 'Bolto...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",1,1,available,scheduled,2020-08-30T07:13:01.092744,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 4843, 'name': 'University of Bolton Sta..."
28,3749603,2004-05-09,17:05:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 55, 'home_team_name': 'Fulham...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",0,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 4844, 'name': 'Kiyan Prince Foundation ..."
29,3749153,2004-01-10,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 47, 'away_team_name': 'Middle...",4,1,available,scheduled,2020-08-30T08:12:14.579037,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",21,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
30,3749403,2004-03-20,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 328, 'away_team_name': 'Bolto...",2,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",29,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c..."
31,3749526,2003-10-26,15:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 75, 'home_team_name': 'Charlt...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",1,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 31, 'name': 'The Valley', 'country': {'..."
32,3749431,2004-04-11,17:05:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 37, 'home_team_name': 'Newcas...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",0,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 4674, 'name': 'St. James'' Park', 'coun..."

In [17]:
dfs = []

In [18]:
for key, values in sets.items():
    for value in values:
        fp = 'statsbomb-matches/' + str(key) + '/' + str(value) + '.json'
        with open(fp, 'r') as f:
            test = json.load(f)
        df = pd.DataFrame(test)
        if "competition" in df.columns and "home_team" in df.columns and "away_team" in df.columns:
            match_ids = df.get("match_id")
            comp_names = df.get("competition").transform(lambda x: x['competition_name'])
            team_1_names = df.get("home_team").transform(lambda x: x['home_team_name'])
            team_2_names = df.get("away_team").transform(lambda x: x['away_team_name'])
            match_1_df = pd.DataFrame({"competition_names": comp_names, "team": team_1_names})
            match_2_df = pd.DataFrame({"competition_names": comp_names, "team": team_2_names})
            match_df = pd.concat([match_1_df, match_2_df])
            match_df["match_id"] = match_ids
            dfs.append(match_df)
        else:
            print(key, value)

16 42
16 76

In [19]:
competition_teams = pd.concat(dfs)
competition_teams

    competition_names                     team  match_id
0      Premier League  Wolverhampton Wanderers   3749052
1      Premier League                  Arsenal   3749522
2      Premier League                  Arsenal   3749246
3      Premier League                  Arsenal   3749257
4      Premier League                  Arsenal   3749642
..                ...                      ...       ...
47  Women's World Cup          England Women's     69199
48  Women's World Cup    United States Women's     69258
49  Women's World Cup           Sweden Women's     69284
50  Women's World Cup      Netherlands Women's     69205
51  Women's World Cup    United States Women's     69161

[2124 rows x 3 columns]

In [20]:
competition_teams[competition_teams.get("team") == "Aston Villa"]

           competition_names         team  match_id
10            Premier League  Aston Villa   3749133
0    FA Women's Super League  Aston Villa   3775648
2    FA Women's Super League  Aston Villa   3775633
6    FA Women's Super League  Aston Villa   3775544
11   FA Women's Super League  Aston Villa   3775641
38   FA Women's Super League  Aston Villa   3764234
41   FA Women's Super League  Aston Villa   3775540
45   FA Women's Super League  Aston Villa   3775575
68   FA Women's Super League  Aston Villa   3775571
109  FA Women's Super League  Aston Villa   3775642
110  FA Women's Super League  Aston Villa   3775646
115  FA Women's Super League  Aston Villa   3775566
4    FA Women's Super League  Aston Villa   3775581
18   FA Women's Super League  Aston Villa   3775560
36   FA Women's Super League  Aston Villa   3764236
44   FA Women's Super League  Aston Villa   3775556
55   FA Women's Super League  Aston Villa   3775568
61   FA Women's Super League  Aston Villa   3775541
81   FA Women's Super League  Aston Villa   3775637
84   FA Women's Super League  Aston Villa   3775615
92   FA Women's Super League  Aston Villa   3775626
121  FA Women's Super League  Aston Villa   3775634
127  FA Women's Super League  Aston Villa   3775599

In [21]:
locs = competition_teams.get("match_id") == 3749133
competition_teams.loc[locs, :] = competition_teams.loc[locs].replace({'Aston Villa': 'Aston Villa Men'})

In [22]:
competition_teams[competition_teams.get("team") == "Manchester United"]

           competition_names               team  match_id
14            Premier League  Manchester United   3749552
2             Premier League  Manchester United   3749246
0           Champions League  Manchester United     18236
0           Champions League  Manchester United   3750201
3    FA Women's Super League  Manchester United   2275146
4    FA Women's Super League  Manchester United   2275142
5    FA Women's Super League  Manchester United   2275137
41   FA Women's Super League  Manchester United   2275156
49   FA Women's Super League  Manchester United   2275157
52   FA Women's Super League  Manchester United   2275138
74   FA Women's Super League  Manchester United   2275140
0    FA Women's Super League  Manchester United   2275136
1    FA Women's Super League  Manchester United   2275154
2    FA Women's Super League  Manchester United   2275150
6    FA Women's Super League  Manchester United   2275153
7    FA Women's Super League  Manchester United   2275151
8    FA Women's Super League  Manchester United   2275144
42   FA Women's Super League  Manchester United   2275139
7    FA Women's Super League  Manchester United   3775622
17   FA Women's Super League  Manchester United   3775594
19   FA Women's Super League  Manchester United   3775624
26   FA Women's Super League  Manchester United   3764232
40   FA Women's Super League  Manchester United   3775551
46   FA Women's Super League  Manchester United   3775562
56   FA Women's Super League  Manchester United   3775563
61   FA Women's Super League  Manchester United   3775541
77   FA Women's Super League  Manchester United   3775628
85   FA Women's Super League  Manchester United   3775610
112  FA Women's Super League  Manchester United   3775640
16   FA Women's Super League  Manchester United   3764237
29   FA Women's Super League  Manchester United   3775567
47   FA Women's Super League  Manchester United   3775561
49   FA Women's Super League  Manchester United   3775558
75   FA Women's Super League  Manchester United   3775597
80   FA Women's Super League  Manchester United   3775644
98   FA Women's Super League  Manchester United   3775601
113  FA Women's Super League  Manchester United   3775658
115  FA Women's Super League  Manchester United   3775566
118  FA Women's Super League  Manchester United   3775587
122  FA Women's Super League  Manchester United   3775617

In [23]:
locs = competition_teams.get("match_id") == 3749552
competition_teams.loc[locs, :] = competition_teams.loc[locs].replace({'Manchester United': 'Manchester United Men'})

locs = competition_teams.get("match_id") == 3749246
competition_teams.loc[locs, :] = competition_teams.loc[locs].replace({'Manchester United': 'Manchester United Men'})

locs = competition_teams.get("match_id") == 18236
competition_teams.loc[locs, :] = competition_teams.loc[locs].replace({'Manchester United': 'Manchester United Men'})

locs = competition_teams.get("match_id") == 3750201
competition_teams.loc[locs, :] = competition_teams.loc[locs].replace({'Manchester United': 'Manchester United Men'})

In [24]:
competition_teams

    competition_names                     team  match_id
0      Premier League  Wolverhampton Wanderers   3749052
1      Premier League                  Arsenal   3749522
2      Premier League                  Arsenal   3749246
3      Premier League                  Arsenal   3749257
4      Premier League                  Arsenal   3749642
..                ...                      ...       ...
47  Women's World Cup          England Women's     69199
48  Women's World Cup    United States Women's     69258
49  Women's World Cup           Sweden Women's     69284
50  Women's World Cup      Netherlands Women's     69205
51  Women's World Cup    United States Women's     69161

[2124 rows x 3 columns]

In [25]:
competition_teams[competition_teams['team'] == 'Liverpool']

   competition_names       team  match_id
7     Premier League  Liverpool   3749253
24    Premier League  Liverpool   3749448
0   Champions League  Liverpool     18245
0   Champions League  Liverpool     22912
0   Champions League  Liverpool   2302764
0   Champions League  Liverpool   3750200

In [26]:
competition_teams = competition_teams.replace({'FIFA World Cup': "Men's International", 'UEFA Euro': "Men's International"})
competition_teams = competition_teams.replace({"Women's World Cup": "Women's International"})

In [27]:
competition_teams

        competition_names                     team  match_id
0          Premier League  Wolverhampton Wanderers   3749052
1          Premier League                  Arsenal   3749522
2          Premier League                  Arsenal   3749246
3          Premier League                  Arsenal   3749257
4          Premier League                  Arsenal   3749642
..                    ...                      ...       ...
47  Women's International          England Women's     69199
48  Women's International    United States Women's     69258
49  Women's International           Sweden Women's     69284
50  Women's International      Netherlands Women's     69205
51  Women's International    United States Women's     69161

[2124 rows x 3 columns]

In [48]:
team_counts = competition_teams.get('team').value_counts()

In [49]:
team_counts = team_counts.reset_index().rename(columns = {'team': 'count', 'index': 'team'})

In [50]:
team_counts

                           team  count
0                     Barcelona    489
1           Manchester City WFC     59
2                   Chelsea FCW     57
3    Brighton & Hove Albion WFC     57
4                   Arsenal WFC     57
..                          ...    ...
154           Borussia Dortmund      1
155             Aston Villa Men      1
156                     Everton      1
157                   AS Monaco      1
158                    FC Porto      1

[159 rows x 2 columns]

In [53]:
team_counts.to_csv('game_counts.csv', index = False)

In [54]:
read_in = pd.read_csv('game_counts.csv')
read_in

                           team  count
0                     Barcelona    489
1           Manchester City WFC     59
2                   Chelsea FCW     57
3    Brighton & Hove Albion WFC     57
4                   Arsenal WFC     57
..                          ...    ...
154           Borussia Dortmund      1
155             Aston Villa Men      1
156                     Everton      1
157                   AS Monaco      1
158                    FC Porto      1

[159 rows x 2 columns]

In [59]:
read_in.set_index('team').loc['Barcelona']['count']

489

In [32]:
team_count = competition_teams.groupby('team').count()['match_id'].rename({'match_id': 'num_games'})

In [33]:
team_count

team
AC Milan                    2
AS Monaco                   1
Albacete                    2
Almer√≠a                    11
Argentina                   4
                           ..
Washington Spirit           9
West Ham United LFC        56
Wolverhampton Wanderers     2
Xerez                       2
Yeovil Town LFC            19
Name: match_id, Length: 159, dtype: int64

In [36]:
team_count["Manchester United Men"]

4

In [162]:
team_common_leagues = competition_teams.groupby("team").agg(pd.Series.mode)

In [163]:
team_common_leagues

                               competition_names
team
AC Milan                        Champions League
AS Monaco                       Champions League
Albacete                                 La Liga
Almer√≠a                                  La Liga
Argentina                    Men's International
...                                          ...
Washington Spirit                           NWSL
West Ham United LFC      FA Women's Super League
Wolverhampton Wanderers           Premier League
Xerez                                    La Liga
Yeovil Town LFC          FA Women's Super League

[159 rows x 1 columns]

In [172]:
team_common_leagues.loc['Liverpool', :] = 'Premier League'

In [164]:
team_common_leagues.loc['Manchester United Men', :] = 'Premier League'

In [165]:
exploded = team_common_leagues.reset_index().get('competition_names').explode()

multiple_vals = pd.DataFrame({'my_index': exploded.index, 'duplicate': exploded.index.duplicated()})

multiple_vals

     my_index  duplicate
0           0      False
1           1      False
2           2      False
3           3      False
4           4      False
..        ...        ...
154       154      False
155       155      False
156       156      False
157       157      False
158       158      False

[159 rows x 2 columns]

In [166]:
multiple_vals[multiple_vals.get("duplicate") == True]

Empty DataFrame
Columns: [my_index, duplicate]
Index: []

In [173]:
team_common_leagues.reset_index().groupby('competition_names').count()

                         team
competition_names
Champions League            7
FA Women's Super League    14
La Liga                    41
Men's International        44
NWSL                        9
Premier League             20
Women's International      24

In [181]:
reset_ver = team_common_leagues.reset_index()

reset_ver[reset_ver['competition_names'] == "Champions League"]

                 team competition_names
0            AC Milan  Champions League
1           AS Monaco  Champions League
16      Bayern Munich  Champions League
22  Borussia Dortmund  Champions League
53           FC Porto  Champions League
69        Inter Milan  Champions League
76           Juventus  Champions League

In [203]:
reset_ver.to_csv('teams_leagues.csv', index = False)

In [184]:
team_list_ms = reset_ver.get('team').unique()

In [185]:
team_list_ms

array(['AC Milan', 'AS Monaco', 'Albacete', 'Almer√≠a', 'Argentina',
       "Argentina Women's", 'Arsenal', 'Arsenal WFC', 'Aston Villa',
       'Aston Villa Men', 'Athletic Club', 'Atl√©tico Madrid', 'Australia',
       "Australia Women's", 'Austria', 'Barcelona', 'Bayern Munich',
       'Belgium', 'Birmingham City', 'Birmingham City WFC',
       'Blackburn Rovers', 'Bolton Wanderers', 'Borussia Dortmund',
       'Brazil', "Brazil Women's", 'Brighton & Hove Albion WFC',
       'Bristol City WFC', "Cameroon Women's", "Canada Women's",
       'Celta Vigo', 'Charlton Athletic', 'Chelsea', 'Chelsea FCW',
       'Chicago Red Stars', "Chile Women's", "China PR Women's",
       'Colombia', 'Costa Rica', 'Croatia', 'Czech Republic', 'C√°diz',
       'C√≥rdoba', 'Denmark', 'Deportivo Alav√©s', 'Deportivo La Coruna',
       'Egypt', 'Eibar', 'Elche', 'England', "England Women's",
       'Espanyol', 'Everton', 'Everton LFC', 'FC Porto', 'Finland',
       'France', "France Women's", 'Fulham', 'Germany', "Germany Women's",
       'Getafe', 'Gimn√†stic Tarragona', 'Girona', 'Granada',
       'Houston Dash', 'Huesca', 'Hungary', 'H√©rcules', 'Iceland',
       'Inter Milan', 'Iran', 'Italy', "Italy Women's", "Jamaica Women's",
       'Japan', "Japan Women's", 'Juventus', "Korea Republic Women's",
       'Las Palmas', 'Leeds United', 'Legan√©s', 'Leicester City',
       'Levante', 'Liverpool', 'Liverpool WFC', 'Mallorca',
       'Manchester City', 'Manchester City WFC', 'Manchester United',
       'Manchester United Men', 'Mexico', 'Middlesbrough', 'Morocco',
       'M√°laga', 'NJ/NY Gotham FC', 'Netherlands', "Netherlands Women's",
       "New Zealand Women's", 'Newcastle United', 'Nigeria',
       "Nigeria Women's", 'North Carolina Courage', 'North Macedonia',
       "Norway Women's", 'Numancia', 'OL Reign', 'Orlando Pride',
       'Osasuna', 'Panama', 'Peru', 'Poland', 'Portland Thorns',
       'Portsmouth', 'Portugal', 'Racing Santander', 'Rayo Vallecano',
       'Reading WFC', 'Real Betis', 'Real Madrid', 'Real Murcia',
       'Real Sociedad', 'Real Valladolid', 'Real Zaragoza',
       'Recreativo Huelva', 'Russia', 'Saudi Arabia', 'Scotland',
       "Scotland Women's", 'Senegal', 'Serbia', 'Sevilla', 'Slovakia',
       "South Africa Women's", 'South Korea', 'Southampton', 'Spain',
       "Spain Women's", 'Sporting Gij√≥n', 'Sweden', "Sweden Women's",
       'Switzerland', 'Tenerife', "Thailand Women's", 'Tottenham Hotspur',
       'Tottenham Hotspur Women', 'Tunisia', 'Turkey', 'Ukraine',
       "United States Women's", 'Uruguay', 'Utah Royals', 'Valencia',
       'Villarreal', 'Wales', 'Washington Spirit', 'West Ham United LFC',
       'Wolverhampton Wanderers', 'Xerez', 'Yeovil Town LFC'],
      dtype=object)

In [188]:
read_values = np.load('team_list.npy', allow_pickle = True)

In [193]:
read_sorted = pd.Series(read_values).sort_values()
read_sorted

128                   AC Milan
152                  AS Monaco
42                    Albacete
76                     Almer√≠a
82                   Argentina
                ...
58           Washington Spirit
2          West Ham United LFC
133    Wolverhampton Wanderers
140                      Xerez
70             Yeovil Town LFC
Length: 159, dtype: object

In [196]:
team_list_ms_sorted = pd.Series(team_list_ms).sort_values()
team_list_ms_sorted

0                     AC Milan
1                    AS Monaco
2                     Albacete
3                      Almer√≠a
4                    Argentina
                ...
154          Washington Spirit
155        West Ham United LFC
156    Wolverhampton Wanderers
157                      Xerez
158            Yeovil Town LFC
Length: 159, dtype: object

In [198]:
read_sorted.to_numpy() == team_list_ms_sorted.to_numpy()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True])

In [127]:
unique_leagues = competition_teams['competition_names'].unique()
unique_leagues

array(['Premier League', 'La Liga', 'Champions League',
       "FA Women's Super League", 'FIFA World Cup', 'NWSL', 'UEFA Euro',
       "Women's World Cup"], dtype=object)

In [ ]:
# ADD NOTES ABOUT INTERNATIONAL: combined FIFA World CUP + UEFA Euro into 'men's international'
# WWC was renamed 'Women's International'
# teams in Champion league designation was because we didn't have any league data for them

In [117]:
competition_teams[competition_teams.get('competition_names') == "NWSL"]

   competition_names                    team  match_id
0               NWSL            Houston Dash      7494
1               NWSL         Portland Thorns      7486
2               NWSL       Chicago Red Stars      7497
3               NWSL       Washington Spirit      7430
4               NWSL  North Carolina Courage      7444
..               ...                     ...       ...
31              NWSL                OL Reign      7485
32              NWSL           Orlando Pride      7483
33              NWSL       Chicago Red Stars      7476
34              NWSL       Washington Spirit      7451
35              NWSL             Utah Royals      7480

[72 rows x 3 columns]

In [ ]:
# need to handle Manchester United and Aston Villa female cases

In [75]:
unique_leagues = team_common_leagues['competition_names'].unique()
unique_leagues

TypeError: unhashable type: 'numpy.ndarray'

In [48]:
group_1 = competition_teams.rename(columns = {'team_1': 'team', 'team_2': 'count'}).groupby(['team', 'competition_names']).count()

In [49]:
group_2 = competition_teams.rename(columns = {'team_2': 'team', 'team_1': 'count'}).groupby(['team', 'competition_names']).count()

In [50]:
combined = group_1 + group_2

In [52]:
group_1

                                                 count
team                    competition_names
AC Milan                Champions League             2
AS Monaco               Champions League             1
Albacete                La Liga                      1
Almer√≠a                 La Liga                      5
Argentina               FIFA World Cup               2
...                                                ...
Washington Spirit       NWSL                         2
West Ham United LFC     FA Women's Super League     28
Wolverhampton Wanderers Premier League               1
Xerez                   La Liga                      1
Yeovil Town LFC         FA Women's Super League      9

[169 rows x 1 columns]

In [53]:
group_2

                                                 count
team                    competition_names
Albacete                La Liga                      1
Almer√≠a                 La Liga                      6
Argentina               FIFA World Cup               2
Argentina Women's       Women's World Cup            2
Arsenal                 Premier League              16
...                                                ...
Washington Spirit       NWSL                         7
West Ham United LFC     FA Women's Super League     28
Wolverhampton Wanderers Premier League               1
Xerez                   La Liga                      1
Yeovil Town LFC         FA Women's Super League     10

[169 rows x 1 columns]

In [51]:
combined

                                                 count
team                    competition_names
AC Milan                Champions League           NaN
AS Monaco               Champions League           NaN
Albacete                La Liga                    2.0
Almer√≠a                 La Liga                   11.0
Argentina               FIFA World Cup             4.0
...                                                ...
Washington Spirit       NWSL                       9.0
West Ham United LFC     FA Women's Super League   56.0
Wolverhampton Wanderers Premier League             2.0
Xerez                   La Liga                    2.0
Yeovil Town LFC         FA Women's Super League   19.0

[178 rows x 1 columns]

In [3]:
sets = {2: [44], 11: [1, 2, 21, 22, 23, 24, 25, 26, 27, 37, 38, 39, 40, 41, 42, 90], 16: [1, 2, 4, 21, 22, 23, 24, 25, 26, 27, 37, 39, 41, 42, 44, 76], 37: [4, 42, 90], 43: [3], 49: [3], 55: [43], 72: [30]}

In [4]:
dfs = []

In [7]:
for key, values in sets.items():
    for value in values:
        fp = 'statsbomb-matches/' + str(key) + '/' + str(value) + '.json'
        with open(fp, 'r') as f:
            test = json.load(f)
        df = pd.DataFrame(test)
        if 'match_id'in df.columns and 'season' in df.columns:
            match_season_league = df.loc[:, ['match_id', 'season', 'competition']]
            match_season_league['season'] = match_season_league['season'].transform(lambda x: x['season_name'])
            match_season_league['competition'] = match_season_league['competition'].transform(lambda x: x['competition_name'])
            dfs.append(match_season_league)

In [9]:
dfs_total = pd.concat(dfs)
dfs_total

    match_id     season        competition
0    3749052  2003/2004     Premier League
1    3749522  2003/2004     Premier League
2    3749246  2003/2004     Premier League
3    3749257  2003/2004     Premier League
4    3749642  2003/2004     Premier League
..       ...        ...                ...
47     69199       2019  Women's World Cup
48     69258       2019  Women's World Cup
49     69284       2019  Women's World Cup
50     69205       2019  Women's World Cup
51     69161       2019  Women's World Cup

[1062 rows x 3 columns]

In [21]:
dfs_total.get('competition').unique()

array(['Premier League', 'La Liga', 'Champions League',
       "FA Women's Super League", 'FIFA World Cup', 'NWSL', 'UEFA Euro',
       "Women's World Cup"], dtype=object)

In [15]:
dfs_total[dfs_total.get('competition') == 'La Liga']['season'].unique()

array(['2017/2018', '2016/2017', '2009/2010', '2010/2011', '2011/2012',
       '2012/2013', '2013/2014', '2014/2015', '2015/2016', '2004/2005',
       '2005/2006', '2006/2007', '2007/2008', '2008/2009', '2019/2020',
       '2020/2021'], dtype=object)

In [16]:
dfs_total[dfs_total.get('competition') == 'NWSL']['season'].unique()

array(['2018'], dtype=object)

In [17]:
dfs_total[dfs_total.get('competition') == 'Premier League']['season'].unique()

array(['2003/2004'], dtype=object)

In [18]:
dfs_total[dfs_total.get('competition') == "Women's World Cup"]['season'].unique()

array(['2019'], dtype=object)

In [19]:
dfs_total[dfs_total.get('competition') == "FIFA World Cup"]['season'].unique()

array(['2018'], dtype=object)

In [20]:
dfs_total[dfs_total.get('competition') == "UEFA Euro"]['season'].unique()

array(['2020'], dtype=object)

In [23]:
dfs_total[dfs_total.get('competition') == "FA Women's Super League"]['season'].unique()

array(['2018/2019', '2019/2020', '2020/2021'], dtype=object)

In [24]:
dfs_total[dfs_total.get('competition') == "Champions League"]['season'].unique()

array(['2017/2018', '2016/2017', '2018/2019', '2009/2010', '2010/2011',
       '2011/2012', '2012/2013', '2013/2014', '2014/2015', '2015/2016',
       '2004/2005', '2006/2007', '2008/2009', '2003/2004'], dtype=object)